<div class="card bg-dark text-white">
  <img src="https://www.pakutaso.com/shared/img/thumb/PPO_shikkuiichigonosyo-tocake_TP_V.jpg" class="card-img " >
  <div class="card-img-overlay">
    <h2 class="card-title">About</h2>
    <p class="card-text">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
    <p class="card-text">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
    <p class="card-text">様々なバリデーションをご用意しております。</p>
    <p class="card-text">また、全国へ発送可能ですので『いつ』でも『どこ』でもご注文いただけます。</p>
    <p class="card-text">ぜひ注文ください。</p>
  </div>
</div>