<div class="container">
  <h1 class="admin_order">Order List</h1>
  <div class="order_table">
    <table class="table table-bordered col-8">
      <thead>
        <tr class="table-active">
          <th style="width: 20%">購入日時</th>
          <th style="width: 20%">購入者</th>
          <th style="width: 10%">注文個数</th>
          <th style="width: 20%">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= link_to order.created_at.strftime("%Y-%m-%d %H:%M:%S"), admin_order_path(order) %></td>
          <td><%= order.customer.first_name + order.customer.last_name %></td>
          <td><%=order.order_details.sum(:quantity) %>個</td>
          <td><%= order.order_status %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>