<div class="container">
<h1>Genre Edit</h1>

<%= form_with model: @genre, url: admin_genre_path, local: true, method: :patch do |f| %>
  <div class="field">
    <%= f.text_field :name, autofocus: true %>
  </div>
  <%= f.submit "Update",class: "btn btn-outline-dark" %>
<% end %>
<div class="genre_edit">
<%= link_to "Back", admin_genres_path,class: "btn btn-outline-dark" %>
</div>
</div>