<h2>検索機能</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>商品一覧</h1><h4>(全<%= @items.count %>件)</h4>
    </div>
    <div class="row">
    <% @items.each do |item| %>
      <div class="col">
      <%= image_tag item, :imge, fallback: "no-image.png" %>
      <%= item.item_name %>
       ¥<%= item.price %>
    <% end %>
      </div>
    </div>
  </div>
</div>