<h1>Shopping Cart</h1>

<% if @cart_items.count == 0 %>
  <p>No item</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>商品</th>
        <th>単価(税込)</th>
        <th>小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @cart_items.each do |cart_item| %>
      <tr>
        <td><%= image_tag %></td>
        <td><%= cart_item.item.item_name %></td>
        <td><%= cart_item.item.with_tax_price %></td>
        <td><%= cart_item.subtotal %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
