body {
  background-color: rgba(136,94,33,0.4);
  font-family: Georgia, serif;
  /*color: rgba(0,0,0,0.6);*/
  color: #4e3030;
}

.header-logo {
  background-color: #192436;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.main {
  margin-top: 10%;
}

/*トップページ*/
.top-header {
  background-color: #192436;
  margin: -46px;
  padding: 20px;
  color: white;
}
.top-header-text{
  text-align: center;
  margin-top: 20px;
}

.top-img {
  width:100%;
}
 .cake-top {
   width: 300px;
   height: 100px;
   background-color:#192436;
   color: white;
   font-size: 70px;
   text-align: center;
   letter-spacing:0.5rem;
   position: relative;
   margin: -65px 0 0 430px;
 }

 .pudding-top{
   width: 450px;
   height: 100px;
   background-color:#192436;
   color: white;
   font-size: 70px;
   text-align: center;
   letter-spacing:0.5rem;
   position: relative;
   margin: -65px 0 0 -50px;
 }

.baced-goods-top{
   width: 650px;
   height: 100px;
   background-color:#192436;
   color: white;
   font-size: 70px;
   text-align: center;
   letter-spacing:0.5rem;
   position: relative;
   margin: -65px 0 0 230px;
 }

 .candy-top {
   width: 350px;
   height: 100px;
   background-color:#192436;
   color: white;
   font-size: 70px;
   text-align: center;
   letter-spacing:0.5rem;
   position: relative;
   margin: -65px 0 0 -50px;
 }
 .top-text{
   padding: 15px;
   margin-top: 15px;
   margin-bottom: 1rem;
   text-align: center;
   background-color: rgba(255,255,255,0.5);
   border-radius: 50%;
 }
 
 .products-all {
   padding: 15px;
   border:3px solid #4e3030;
   color:#4e3030;
 }
 
 .products-all:hover {
   color:#4e3030;
 }


/*カスタマーページ*/

/*マイページ*/
.mypage {
  width: 50%;
  margin-top: 30px;
}

.my-page-title {
  color: #4e3030;
  opacity: 0.6;
}

.table-head {
  width: 30%;
  background-color: rgba(134,103,103,0.15);
}

.table-deta {
  background-color: rgba(255,255,255,0.15);
}

.customer-edit {
  font-size: small;
  padding: 1px 7px;
}

/*フォーム*/
.customer-order-detail {
  opacity: 0.8;
  font-size: small;
}

.customer-shipping-address {
  opacity: 0.8;
  font-size: small;
}

/*編集ページ*/

.customer-infomation {
  background-color: rgba(255,255,255,0.7);
  border: double;
}

/*退会ページ*/
.customer-withdrawal {
  width: 50%;
  padding: 30px;
  margin-top: 30px;
  background-color: rgba(255,255,255,0.5);
}

.withdrawal-check {
  text-align: center
}

.withdrawal-text {
  display: flex;
  justify-content: center;
  text-align: left;
}


/*送り先情報*/
.new-shipping_address-botton {
  display: flex;
  justify-content: end;
}

.addresses_index {
  margin-top: 15px;
}

.address-botton{
  margin-bottom: 4px;
  display: flex;
  justify-content: end;
  margin-top: -25px;
}
.address-botton2{
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}

.address-text {
  font-size: larger;
}

/*オーダー機能*/

.payment {
  margin-bottom: 15px;
}

.space {
  margin-left: 10rem;
}

/*フッター*/

.footerFixed{
  min-height: 60vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  adding-bottom: 60px; /* ←フッターの高さを指定 */
  box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer{
  position: absolute;  /* フッターを絶対配置に指定する設定 */
  bottom: 0;           /* フッターを一番下 */
  width: 100%;
}

.field {
  margin-bottom: 10px;
}

/*ログイン*/

.login {
  margin-top: 50px;
  margin-bottom: 20px;
}

.login_new {
  margin-top: 30px;
}

.actions {
  margin-bottom: 10px;
}

/*商品*/

.item_index {
  margin-top: 50px;
  margin-bottom: 20px;
}

.item_show_name {
  border-bottom: 3px double #192436;
  width: 800px;
}

.item_name_show {
  font-size: 25px;
}

.item_show_box {
  margin-top: 50px;
}

/*カート*/

.cart_item_delete {
  margin-top: 20px;
  margin-bottom: 30px;
}

/*管理者商品新規登録*/

.admin_new_item {
  margin-top: 20px;
}

/*管理者注文*/

.admin_order {
  margin-top: 50px;
  margin-bottom: 20px;
}

.admin_order_detail {
  margin-top: 50px;
  margin-bottom: 20px;
}

/*商品*/
.card {
   background-color: rgba(134,103,103,0.15);
}

/*ジャンル*/

.genre_add {
  margin-bottom: 30px;
}

.genre_edit {
  margin-top: 10px;
}

/*全体デザイン*/

h1 {
  color: #4e3030;
  opacity: 0.6;
}

/*アバウトページ*/

.about_page {
  top: 0;
}

/*レスポンシブ*/

@media (max-width: 834px){
  .footer {
    background-color: red;
  }
}